.list-group-item.list-group-item-primary.d-flex.justify-content-between.align-items-center
    %p=user.name || user.email
    - if user.admin
        = link_to "Make non-admin", unadmin_path(user), method: 'put', class: "btn btn-light"
    - else
        = link_to "Make admin", admin_path(user), method: 'put', class: "btn btn-light"
