%h1 Home
- if current_user_with_company?
    .row
        .col-12.col-md-4
            = render 'companies/company_details', company: current_user.company
        - if current_user.admin?
            .col-12.col-md-4.offset-md-1
                %h3 #{current_user.company.name}'s workers
                .list-group
                    = render current_user.company.users
