.card.bg-danger.text-light.mt-4.mb-4
    = image_tag company.logo, class: "card-img-top", alt: "#{company.name} logo"
    .card-body
        %h3.card-title=company.name
        %p.card-text=company.description
    .card-footer
        - if current_user_is_company_admin?(company)
            = link_to 'Edit company', edit_company_path(company), class: "btn btn-light card-link"
            = link_to 'Delete company', company, method: 'delete', class: "btn btn-dark card-link", data: { confirm: 'Are you sure?' }
