.list-group-item.list-group-item-success.d-flex.justify-content-between.align-items-center
    %p=company.name
    = link_to "Join",  join_company_path(company), method: 'post', class: "btn btn-light"
