%nav.navbar.navbar-expand-md.navbar-dark.bg-primary
  = link_to 'Companies', root_path, class: 'navbar-brand'
  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    - if current_user_without_company?
      %ul.navbar-nav
        - if user_signed_in?
          %li.navbar-item
            = link_to 'Join a company', companies_path, class: "nav-link #{active_class(companies_path)}"
          %li.navbar-item
            = link_to 'Create a company', new_company_path, class: "nav-link #{active_class(new_company_path)}"
  .navbar-nav
    - if user_signed_in?
      .dropdown
        %button#dropdownMenuButton.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          My account
        .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
          = link_to "Profile", profile_path, class: "dropdown-item"
          = link_to "Sign out", sign_out_path, method: "delete", class: "dropdown-item"
    - else
      = link_to 'Sign in', sign_in_path, class: 'nav-link'
